<div class="container">
  <h1>
    Posting <%= @draft.title ? "'#{@draft.title}'" : 'a New Work' %>
  </h1>

  <%= render_draft_form_part %>
</div>

<%= content_for :footer_js do %>
  <%= javascript_tag do %>
    $j(document).ready(function(){
      $j(".toggle_formfield").click(function() {
        var targetId = $j(this).attr("id").replace("-show", "");
        toggleFormField(targetId);
      });
    })
  <% end %>
<% end %>
